@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: theme('fontSize.lg');
    font-family: 'Poppins', sans-serif;
  }

  html, body, #app {
    height: theme('minHeight.full');
  }
}
