@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: theme('fontSize.lg');
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: theme('colors.red.DEFAULT');
    background-image: theme('backgroundImage.mobile');

    @screen lg {
      background-image: theme('backgroundImage.desktop');
    }
  }

  html,
  body {
    min-height: theme('minHeight.screen');
    height: theme('height.screen');
  }
}

@layer components {
  .v-helper {
    font-size: theme('fontSize.xs');
    color: theme('colors.blue.grayish-blue');
    width: theme('width.full');
  }

  .v-icon {
    @apply h-8 w-8;

    &--error {
      @apply text-red;
    }
  }
}

#app {
  @apply h-full;
}
